
@font-face {font-family: "axdfont";
  src: url('iconfont.eot?t=1458789009'); /* IE9*/
  src: url('iconfont.eot?t=1458789009#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1458789009') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1458789009') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1458789009#axdfont') format('svg'); /* iOS 4.1- */
}

.axdfont {
  font-family:"axdfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-01weizhi:before { content: "\e600"; }
.icon-03fenxiangfill:before { content: "\e601"; }
.icon-03fenxiang:before { content: "\e602"; }
.icon-04geren:before { content: "\e603"; }
.icon-04gerenfill:before { content: "\e604"; }
.icon-02bohao:before { content: "\e605"; }
.icon-02bohaofill:before { content: "\e606"; }
.icon-05qunzu:before { content: "\e607"; }
.icon-05qunzufill:before { content: "\e608"; }
.icon-06guanbi:before { content: "\e609"; }
.icon-06guanbifill:before { content: "\e60a"; }
.icon-07xiangshang:before { content: "\e60b"; }
.icon-07xiangxia:before { content: "\e60c"; }
.icon-07xiangyou:before { content: "\e60d"; }
.icon-07xiangzuo:before { content: "\e60e"; }
.icon-07jiantouxiangshang:before { content: "\e60f"; }
.icon-07jiantouxiangshangfill:before { content: "\e610"; }
.icon-07jiantouxiangxia:before { content: "\e611"; }
.icon-07jiantouxiangxiafill:before { content: "\e612"; }
.icon-07jiantouxiangyou:before { content: "\e613"; }
.icon-07jiantouxiangyoufill:before { content: "\e614"; }
.icon-07jiantouxiangzuo:before { content: "\e615"; }
.icon-07jiantouxiangzuofill:before { content: "\e616"; }
.icon-09jingshi:before { content: "\e617"; }
.icon-09jingshifill:before { content: "\e618"; }
.icon-10sousuo:before { content: "\e619"; }
.icon-11bangzhu:before { content: "\e61a"; }
.icon-11bangzhufill:before { content: "\e61b"; }
.icon-zhongguodianxin:before { content: "\e61c"; }
.icon-zhongguoliantong:before { content: "\e61d"; }
.icon-zhongguoyidong:before { content: "\e61e"; }
.icon-08tishi:before { content: "\e61f"; }
.icon-08tishifill:before { content: "\e620"; }
.icon-12jia:before { content: "\e621"; }
.icon-13dianpu:before { content: "\e622"; }
.icon-13dianpufill:before { content: "\e623"; }
.icon-15rili:before { content: "\e624"; }
.icon-14bianji:before { content: "\e625"; }
.icon-16erweima:before { content: "\e626"; }
.icon-17qq:before { content: "\e627"; }
.icon-18huidaodingbu:before { content: "\e628"; }
.icon-19shanchu:before { content: "\e629"; }
.icon-20gouwuche:before { content: "\e62a"; }
.icon-20gouwuchefill:before { content: "\e62b"; }
.icon-21shengyin:before { content: "\e62c"; }
.icon-25xiazai:before { content: "\e62d"; }
.icon-22suo:before { content: "\e62e"; }
.icon-23gouwudai:before { content: "\e62f"; }
.icon-26shuaxin:before { content: "\e630"; }
.icon-27yinxingqia:before { content: "\e631"; }
.icon-28dianzan:before { content: "\e632"; }
.icon-28dianzanfill:before { content: "\e633"; }
.icon-29youxiangfill:before { content: "\e634"; }
.icon-fenleifushixiebao:before { content: "\e635"; }
.icon-fenleishoujitongxun:before { content: "\e636"; }
.icon-fenleidiannaopingban:before { content: "\e637"; }
.icon-fenleisheyingshuma:before { content: "\e638"; }
.icon-fenleiyundonghuwai:before { content: "\e639"; }
.icon-01weizhifill:before { content: "\e63a"; }
.icon-xiaoxihuodong:before { content: "\e63b"; }
.icon-xiaoxitongzhi:before { content: "\e63c"; }
.icon-xiaoxiwuliu:before { content: "\e63d"; }
.icon-xiaoxizhangdan:before { content: "\e63e"; }
.icon-xiaoxizhanghu:before { content: "\e63f"; }
.icon-xiaoxijianzhi:before { content: "\e640"; }
.icon-24huafei:before { content: "\e641"; }
.icon-30danxuan:before { content: "\e642"; }
.icon-30danxuanfill:before { content: "\e643"; }
.icon-30jiantouxiangshangfill:before { content: "\e644"; }
.icon-30jiantouxiangxiafill:before { content: "\e645"; }
.icon-30xuanzhongfangxing:before { content: "\e646"; }
.icon-30xuanzhongfangxingfill:before { content: "\e647"; }
.icon-30xuanzhongyuanxing:before { content: "\e648"; }
.icon-30xuanzhongyuanxingfill:before { content: "\e649"; }
.icon-29youxiang:before { content: "\e64a"; }
.icon-fenlei:before { content: "\e64b"; }
.icon-fenleifill:before { content: "\e64c"; }
.icon-saoyisao:before { content: "\e64d"; }
.icon-shouye:before { content: "\e64e"; }
.icon-shouyefill:before { content: "\e64f"; }
.icon-tedianmianxi:before { content: "\e650"; }
.icon-tedianquanchangbaoyou:before { content: "\e651"; }
.icon-tedianshandianfahuo:before { content: "\e652"; }
.icon-tedianzhengpinbaozhang:before { content: "\e653"; }
.icon-xiaoxifill:before { content: "\e654"; }
.icon-xiaoxihuodongfill:before { content: "\e655"; }
.icon-xiaoxitongzhifill:before { content: "\e656"; }
.icon-xiaoxiwuliufill:before { content: "\e657"; }
.icon-xiaoxizhangdanfill:before { content: "\e658"; }
.icon-xiaoxizhanghufill:before { content: "\e659"; }
.icon-xiaoxizhifufill:before { content: "\e65a"; }
.icon-faxianfill:before { content: "\e65b"; }
.icon-faxian:before { content: "\e65c"; }
.icon-xinyongqianbao:before { content: "\e65d"; }
.icon-xinyongqianbaofill:before { content: "\e65e"; }
.icon-xiaoxi:before { content: "\e65f"; }
.icon-jiekuanchulichenggongfill:before { content: "\e660"; }
.icon-jiekuanchulichenggong2:before { content: "\e661"; }
.icon-jiekuanchulizhongfill:before { content: "\e662"; }
.icon-jiekuanchulizhong2:before { content: "\e663"; }
.icon-jiekuandingdantijiaofill:before { content: "\e664"; }
.icon-jiekuandingdantijiao5:before { content: "\e665"; }
.icon-jiekuanshenhezhongfill:before { content: "\e666"; }
.icon-jiekuanshenhezhong1:before { content: "\e667"; }
