.jf-ObjectBrace {
    color: #f0f0eb;
}

.jf-ArrayBrace {
    color: #0033FF;
}

.jf-PropertyName {
    color: #dbd170;
}

.jf-String {
    color: #765da5;
}

.jf-Number {
    color: #765da5;
}

.jf-Boolean {
    color: #765da5;
}

.jf-Null {
    color: #765da5;
}

.jf-Comma {
    color: #f0f0eb;
}

pre.jf-CodeContainer {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}