/*
* Apply a CSS3 border radius
* @include border-radius(4px);

*/
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

/*
 * Mixin for clearfix
 * @include clearfix;
*/
@mixin clearfix {
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    *zoom: 1;
}
@mixin flexbox() {
    display: box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

@mixin flexHori() {
    box-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
}

@mixin flexVert() {
    box-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
}

@mixin flexVertBase() {
    box-align: baseline;
    -webkit-box-align: baseline;
    align-items: baseline;
    -webkit-align-items: baseline;
}

@mixin flex($ratios) {
    -webkit-box-flex: $ratios;        /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: $ratios;        /* OLD - Firefox 19- */
    box-flex: $ratios;
    -webkit-flex: $ratios;            /* Chrome */
    -ms-flex: $ratios;            /* IE 10 */
    flex: $ratios;            /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin animation($name, $during, $count, $timing ) {
            animation: $name $during $count $timing;
    -webkit-animation: $name $during $count $timing;
       -moz-animation: $name $during $count $timing;
        -ms-animation: $name $during $count $timing;
         -o-animation: $name $during $count $timing;
}

@mixin nLineLimit($n) {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    word-break: break-all;
    -webkit-word-break: break-all;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    line-clamp: $n;
    -webkit-line-clamp: $n;
}
/*
 * Apply a CSS3 box-shadow
 * @include boxShadow(5px, 5px, 10px, #000);
 */
@mixin boxShadow($x:5px, $y:5px, $blur:10px, $spread:10px, $color:#000) {
    -webkit-box-shadow: $x $y $blur $spread $color;
    box-shadow: $x $y $blur $spread $color;
}
@mixin hairline($position, $color:$auiLineColorLight) {
    $Z-index:1;
    @if $position == top {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: auto;
            right: auto;
            background-color: $color;
            display: block;
            z-index: $Z-index;
            height: 1px;
            width: 100%;
        }
    }@else if $position == bottom {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: auto;
            bottom: 0;
            right: auto;
            background-color: $color;
            display: block;
            z-index: $Z-index;
            height: 1px;
            width: 100%;
        }
    }@else if $position == left {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: auto;
            right: auto;
            background-color: $color;
            display: block;
            z-index: $Z-index;
            height: 100%;
            width: 1px;
        }
    }@else if $position == right {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            bottom: auto;
            background-color: $color;
            display: block;
            z-index: $Z-index;
            height: 100%;
            width: 1px;
        }
    }@else if $position == top,bootom{
        position: relative;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: auto;
            right: auto;
            background-color: $color;
            display: block;
            z-index: $Z-index;
            height: 1px;
            width: 100%;
        }
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: auto;
            bottom: 0;
            right: auto;
            background-color: $color;
            display: block;
            z-index: $Z-index;
            height: 1px;
            width: 100%;
        }
    }

    @media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2){
        &:before {
            -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
        }
        &:after {
            -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
        }
    }
    @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){
        &:before {
            -webkit-transform: scaleY(0.3);
            transform: scaleY(0.3);
        }
        &:after {
            -webkit-transform: scaleY(0.3);
            transform: scaleY(0.3);
        }
    }
}
// For right and bottom
@mixin hairline-remove($position) {
    @if NOT ($position == top && $position == left) {
        &:before {
            display: none;
        }
    }

    @else if $position == bottom {
        &:after {
            display: none;
        }
    }
    @else if $position == right {
        &:after {
            display: none;
        }
    }
}

@mixin img2x($url) {
    background-image:url($url+'@2x.png');
    @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){
        background-image:url($url+'@3x.png');
    }
}
