@charset 'utf-8';
//define your values
$designWidth: 640;
//dev
$staticUrl: '/static';
//
// Variables
// --------------------------------------------------
// Type
// --------------------------------------------------
$font-family-default: "微软雅黑",
"Helvetica Neue",
Helvetica,
sans-serif;
$font-size-default: 0.85rem;
$font-weight: normal;
$font-weight-light: 400;
$line-height-default: 1.05rem;
// Colors
// --------------------------------------------------
// 主色
$color-primary: #ffc427;
$color-danger: #f6383a;
$color-warning: #ffc427;
$color-success: $color-primary;
$color-white: #fff;
$color-primary-active: #e5b023;
$color-danger-active: darken($color-danger, 10%);
$color-warning-active: #e5b023;
$color-success-active: darken($color-success, 10%);
$color-split: #d7d7d7;
//分割线的颜色
$color-bg: #f4f5f7;
$color-text: #222;
//文案色
$color-text-secondary: #666;
//次级文案
$color-text-gray: #999;
//灰色文案
$color-text-gray-light: #ccc;
//更灰色文案
//链接色
$color-link: #222;
//链接色有可能不同于主色
$color-link-active: $color-primary;
//链接色有可能不同于主色
// Bars
// --------------------------------------------------
$bar-base-height: 132px;
$bar-tab-height: 135px;
$bar-side-spacing: 0.5rem;
// Cards
// --------------------------------------------------
$card-bg: #fff;
// Buttons
// --------------------------------------------------
$button-font-size: 0.6rem;
// Transitions
// --------------------------------------------------
$timing-fuction: cubic-bezier(.1, .5, .1, 1);
// Inspired by $c2prods
// Borders
// --------------------------------------------------
//页面背景色
$bk:#f5f5f5;
$url:'../../assets/styles';
//prod
//$staticUrl: '';
$border-default-width: 1px;
$border-default-color: $color-split;
$border-default: $border-default-width solid $border-default-color;
$border-radius: 0.3rem;

/*
* aui 规范中定义的颜色
*/

// 品牌色 用于大部分按钮 背景等
$auiColorPrimary: #ffd72d;
// 用于提示语 幽灵按钮等
$auiTipsColor: #F99E00;
// 用于包含链接的常规性短文字
$auiLinkColorDefault: #2CB5FC;
// 用于促进用户前进的地方 如价格
$auiAttentionColor: #F66045;
// 用于警示性 删除性等行为
$auiColorWarn: #FF3D43;
// 用于重要级文本信息 标题信息
$auiTextColorImportant: #222222;
// 用于普通级文本信息
$auiTextColorGeneral: #666666;
// 用于辅助或者次要文本信息
$auiTextColorAssistant: #999999;
// 用于分割线
$auiLineColorLight: #e4e4e4;
// 用于内容区域底色或分隔模块
$auiBgColorDefault: #f7f7f7;
// 用于内容区域底色或浅色文字
$auiTextColorLight: #cccccc;
